### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Intellij ###
.idea

### Datasets ###
data/
input/
output/

### Jupyter Notebooks ###
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
.npm/
.cache/
.ivy2/
.config/

### Model and preprocessing model data ###
!project_4/model/best_model/data
!project_4/model/preprocessing_pipeline/stages/**/data
